<p>The Direction Factor describes the student's agency to decide upon and control the learning experience. It has four sub-factors:</p>

<dl>
  <dt>Comfort</dt>
  <dd>Control by the student over factors that impact the quality of the learning environment</dd>

  <dt>Curiosity</dt>
  <dd>Control by the student over what is learned</dd>

  <dt>Activity</dt>
  <dd>Control by the student over the learning method used and the learning experience</dd>

  <dt>Order</dt>
  <dd>Control by the student over the rules that govern the learning environment</dd>
</dl>

<p>The Direction Factor gives educators a better sense of how much control and what kind of control students have over their own learning process.</p>