<p>The Discipline Factor describes how students engage with the desired learning outcome. It consists of four parts:</p>

<dl>
  <dt>Planned</dt>
  <dd>Coherency and alignment of learning experiences with the desired learning outcome</dd>

  <dt>Scaffolds</dt>
  <dd>Selection and organization of learning experiences that lead students to the desired learning outcome.</dd>

  <dt>Mental Focus</dt> 
  <dd>Effort and detail applied by the student in order to learn</dd>

  <dt>Scope</dt>
  <dd>The range of contexts wherein students realize the value and utility of the desired learning outcome</dd>
</dl>

<p>The Discipline Factor gives educators a better sense of how the learning experience they provide to students is interpreted and translated into learning.</p>