<p>The Expectations Factor is the extent to which you percieve the world around you as a resource to supply what you perceive yourself to be lacking. In other words, it is the storyline a student creates between his or her ability and need to learn with the world at large.</p>

<p>There are four types of Expectations:</p>

<dl>
  <dt>Observing</dt>
  <dd>Recognizing the opportunity to learn, regarding both the situation and the learning outcome</dd>

  <dt>Challenging</dt>
  <dd>How difficult the learning task seems</dd>

  <dt>Comprehensiveness</dt>
  <dd>How much effort goes into learning, with regard to detail and scope.</dd>

  <dt>Durability</dt>
  <dd>How long the learning lasts</dd>
</dl>

<p>The Expectations Factor describes the storyline of a student's learning journey and helps educators better understand how to shape this ever-changing plot.</p>