<p>Interactions are the substance of any learning experience. They leave an impression that we carry with us wherever we go, and without interactions, no learning occurs.</p>
  
<p>Academic Reinhard Zürcher asserted that, "If a person learns something – e.g. by observing an animal, rock, phenomenon or artefact – the person has been taught by these things or objects… Hence it follows: it is not only possible to learn from everything but everything can also teach… teaching and learning always occur simultaneously."</p>
  
<p>The Interactions Factor distinguishes how students learn from different kinds of interactions. There are four sub-factors within Interactions:</p>

<dl>
  <dt>Outside-Inside</dt>
  <dd>The student’s perspective is secondary when the teacher’s perspective is primary, e.g. lecture</dd>
  
  <dt>Inside-Inside</dt>
  <dd>The student’s perspective is primary when the teacher’s perspective is primary, e.g. group discussion</dd>

  <dt>Inside-Outside</dt>
  <dd>The student’s perspective is primary when the teacher’s perspective is secondary, e.g. independent project</dd>

  <dt>Outside-Outside</dt>
  <dd>The student’s perspective is secondary when the teacher’s perspective is secondary, e.g. scheduling </dd>
</dl>

<p>These Sub-factors are different - they are not necessarily better than another. By becoming aware of how students perceive the quality of their interactions by these sub-factors, the teacher learns to focus energy on where the greatest improvements can be made.</p>