<p>The Thinking Factor represents the concrete techinical skills needed to succeed in life. It consists of four sub-factors:</p>

<dl>
  <dt>Necessary Skills</dt> 
  <dd>Used by students to survive, generally known and used by everyone.</dd>

  <dt>Leveraging Talents</dt> 
  <dd>Used by students to differentiate themselves, employing their individual talents.</dd>

  <dt>Life Decisions</dt> 
  <dd>Used by students to manage their lives, using their time and capital to thrive.</dd>

  <dt>Value-Added Skills</dt> 
  <dd>Used by students to make a unique contribution to society, known and used by few people.</dd>
</dl>

<p>The Thinking Factor helps educators balance and prioritize what skills their students are learning.</p>