<p>Willing is the characteristic of a learning experience that either encourages or discourages the learner along some learning path. It takes shape from what inspires students and how that spark of inspiration reaches those students. The Willing Factor has four sub-factors:</p>

<dl>
  <dt>Timely</dt>
  <dd> Students receive feedback when they are ready to consider it.</dd>
  
  <dt>Substantive</dt>
  <dd> Students perceive the feedback as helpful and motivating.</dd>
  
  <dt>Opportunity to Act</dt>
  <dd>Students have an opportunity to use the feedback to take action.</dd>
  
  <dt>Action</dt>
  <dd> Students implement what they are learning.</dd>
</dl>

<p>The Willing factor gives educators a better sense of how and why students implement what they learn, as well as what obstacles may hinder their progress.</p>