<div id="welcome">
  <div>
    <h1 id="logo">Pedagogy Gap</h1>
    <h3>Help make learning relevant for students.</h3>
  </div>
  <%= link_to "I'm a teacher", login_path, :class => "btn btn-large btn-block btn-info" %>

  <%= link_to "I'm a student", new_student_path, :class => "btn btn-large btn-block btn-info" %>
</div>

<meta name="Pedagogy Gap" content="Pedagogy Gap is a free online survey that helps teachers make learning more relevant for their middle and high school kids.">

<div id="creative_commons">
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
</div>