<% if @surveys.present? %>
  <h1>Your Surveys</h1>

  <div id="surveys">
    <ul>
    <% @surveys.each do |survey| %>
      <li><%= survey.subject %> <%= survey.semester %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2>Create a New Survey</h2>

<p>The student feedback from ClassyAct informs you of their learning experience and how it can be improved.  This survey gives you qualitative and quantitative data on what your students think is most important, most excellent, and needs improvement.</p> 

<p>Students who take this survey let you know what they learned, how they interacted with peers, their confidence towards learning, whether they learned the inner tools and processes to succeed, how much agency they felt while learning, and whether the class learning environment led them to success.</p>

<%= link_to "Learn More" %>

<div style="float:right;">
<%= link_to "Create a New Survey", new_user_survey_path(@user) %>
</div>