<% if @surveys.present? %>
  <h1>Your Surveys</h1>

  <div id="surveys">
    <ul>
    <% @surveys.each do |survey| %>
      <li><%= survey.subject %> <%= survey.semester %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>The student feedback from ClassyAct ins't about you, the teacher. It's about your student's learning experience and how it can be improved.  This survey gives you qualitative and quantitative data on what your students thought was most important, most excellent, and what needs improvement.</p> 

<p>Students who take this survey will let you know what they felt they learned, how they interacted with their peers, how confident they felt about learning, whether they learned the inner tools and processes to succeed, how much agency they felt while learning, and whether the learning environment led them success.</p>

<%= link_to "Learn More" %>

<div style="float:right;">
<%= link_to "Create a New Survey", new_user_survey_path(@user) %>
</div>