<nav>
  <ul>
    <li><%= link_to "List of Students", survey_students_path(@survey) %></li>
  </ul>
</nav>

<h1>Your Results</h1>

OBSERVATION
#Graph 1: Graph 1 - Most Important
Hexagon, first of averages
Hexagon, second of which factors students though were most important (this is a wierd calculation)

#Graph 2: Graph 2 - Needs Most Improvement
Hexagon, first of averages
Hexagon, second of which factors students though were most improvement

#Graph 3: Best Performing
Hexagon, first of averages
Hexagon, second of which factors students though were best performing



ANALYSIS
PER FACTOR
#Graph 4: A Rectangle - Most Important
1. Avg in sets of 2
2. Sum of meta questions + calculation.




SMART GOALS
