<% content_for :head do %>
  <%= javascript_include_tag "best-performing-sub-factor.js" %>
<% end %>

<h1>Class Responses</h1>

<% if @survey && @survey.students.present? %>
  <%= render "surveys/factor_graphs", :avg_class_scores => @avg_class_scores, :meta_important_scores => @meta_important_scores, :meta_improvement_scores => @meta_improvement_scores, :meta_performing_scores => @meta_performing_scores %>
<% end %>


<h2>Class Responses by Factor</h2>
<% @factors.each do |factor| %>

  <%= link_to factor.camelcase, factor_path(@survey, factor) %>

<% end %>
