<div class="wrapper graph-w">
  <h1 class="info">Student Responses</h1>
  <a class="fancybox info" data-href="<%= about_path %>" href="#">
    <em>What is this?</em>
  </a>

  <% if @survey && @survey.students.present? %>
    
    <div id="graph-div" class="clearfix">
      <%= render "surveys/factor_graphs", :avg_class_scores => @avg_class_scores, :meta_important_scores => @meta_important_scores, :meta_improvement_scores => @meta_improvement_scores, :meta_performing_scores => @meta_performing_scores %>
    </div>
    
    <%= render "factors/nav", :factors => @factors, :survey => @survey %>

  <% else %>

    <h4>See your survey results here, after students take your survey.</h4>
    <%= link_to "Return to your survey dashboard", user_path(@survey.user) %>

  <% end %>
</div>