// Place all the styles related to the responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.q-content {
  // clear: both;
  color: #2980B9;
  font-size: 16px;
}

.choice {
  float: left;
  width: 150px; 
  text-align: center;
  // padding-bottom: 40px;
}

.choice label {
  margin-top: 10px;
}

.nor {
  position: relative;
  width: 200px;
  left: -30px;
}

.question {
  clear: both;
  border-bottom: 1px solid grey;
  padding: 25px 10px;
  // margin: 20px 0px;
  // height: 75px;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

.q-form-9, .q-form-10, .q-form-11 {
  background-color: white;
}
.q-9, .q-10, .q-11 {
  color: #E67E22;
}

.c-9, .c-10, .c-11 {
  width: 95px;
}