// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.factor-graphs {
  position: relative;
  float: left;
  width: 298.499px;
  border-right: 1px solid #2C3E50;
}

.subfactor-graphs {
  position: relative;
  float: left;
  width: 298.49px;
  border-right: 1px solid #2C3E50;
}

#subgraph-div {
  border-top: 1px solid #2C3E50;
  border-bottom: 1px solid #2C3E50;
  border-left: 1px solid #2C3E50;
}

.graph-w {
  width:900px;
}

#graph-div {
  border-top: 1px solid #2C3E50;
  border-bottom: 1px solid #2C3E50;
  border-left: 1px solid #2C3E50;
}

#passcode {
  float: left;
}

#advice {
  float: left;
  margin-left: 15px;
}

#breadcrumb {
  text-decoration: none;
  color: #2C3E50;
}

#breadcrumb:hover {
  color: #7F8C8D;
}